Resend EHLO after AUTH succeeds

**Is your feature request related to a problem? Please describe.**
Section 4 of [RFC4954](https://www.rfc-editor.org/rfc/rfc4954) states that

> The client SHOULD send an EHLO command as the first command after a
> successful SASL negotiation that results in the enabling of a
> security layer.

lettre doesn't seem to do this when I tested it on a mock server.
This may cause issues because the same section of the RFC also states that

> When a security layer takes effect, the SMTP protocol is reset to the
> initial state (the state in SMTP after a server issues a 220 service
> ready greeting). The server MUST discard any knowledge obtained from
> the client, such as the EHLO argument, which was not obtained from
> the SASL negotiation itself.

Without the client calling EHLO again,
the server may discard the previous EHLO
and later reject the MAIL command because
[section 4.1.4 of RFC5321](https://www.rfc-editor.org/rfc/rfc5321#section-4.1.4)
states that

> A session that will contain mail transactions MUST first be
> initialized by the use of the EHLO command.

**Describe the solution you'd like**
After AUTH succeeds, lettre should resend EHLO.

**Additional context**
I'm learning the SMTP standards through the RFCs and are unaware of the real world practices.
Maybe this is unnecessary?
But I thought it would be nice to support the RFCs
especially since resending the EHLO
is probably compatible with servers that do not require resending the EHLO.