From: and Reply-To: Headers are incorrectly quoted, leading to DKIM failures when sending to gmail servers

**Describe the bug**

When sending a mail from a mailbox with spaces, such as

```
John Smith <j.smith@example.com>
```

lettre will quote the header fields to:

```
From: "John Smith" <j.smith@example.com>
Reply-To: "John Smith" <j.smith@example.com>
```

Receiving the mail in gmail, and looking at the raw headers, the DKIM auth fails, and thus increases the likelihood of being marked as spam. See below, the mail as received by google does not contain the quotes around the name:

```
Authentication-Results: mx.google.com;
       dkim=fail [...]
[...]
From: John Smith <j.smith@example.com>
Reply-To: John Smith <j.smith@example.com>
```

Taking the same mail from googles original source and verifying the DKIM header indeed shows a failure. Simply re-adding the quotes leads to a pass.

Interestingly, this seems to be only an issue at google servers, other mail providers such as outlook (and online DKIM testing tools like https://www.dmarctester.com/) seem to preserve the quotes and thus pass DKIM auth.

Now, looking closer again at RFC 2822 sections 3.2.4 and 3.2.5, only non-whitespace special characters need to be quoted, so indeed I think lettre is incorrectly encoding the name.

I think (not know) that google probably has a decode -> process -> encode workflow for receiving mail, and it's own decoder is stripping the quotes, while the encoder (correctly) is not adding them again, thus leading to a changed mail in passing it on. IMHO google should fix this, as they're causing DKIM failures on received mails that should not happen. And other providers manage to preserve the quotes.

On the other hand, I do think lettre is encoding the names wrongly, and should fix it as well.

**To Reproduce**

I cannot provide a simple example of reproducing it. You'll need a setup with working DKIM authentication, and create a mailbox with a name with whitespace. Send a mail to a google-mail mailbox, open the original source of the email at the google-mail mailbox and observe the dkim: fail entry and missing quotes.

**Expected behavior**

A name with whitespace such as:

```
John Smith <j.smith@example.com>
```

should lead to message headers encoded without quotes, such as

```
From: John Smith <j.smith@example.com>
Reply-To: John Smith <j.smith@example.com>
```

**Environment (please complete the following information):**

This was observed while setting up a matrix authentication service (MAS) instance, which uses lettre under the hood to send mail.

**Additional context**

I have tested this with a working mail setup, including DKIM passes at other mail providers and online DKIM test tools. I have compared original message sources using meld, and am sure the quotes are the only difference. I am not a mail RFC expert, so above statements are my own interpretation. 
